## Setup

**Install _conda_**

wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
bash Miniconda3-latest-Linux-x86_64.sh

**Update _conda_**

conda update -n base conda

**Create a virtual environment**

conda create --name r-lunchs-10-04-18

**Switch to the virtual environment**

conda activate r-lunchs-10-04-18

**Install _R_, _dplyr_, _tidyr_, _IRkernel_, and _Jupyter_**

conda install r r-dplyr r-tidyr r-irkernel jupyter

**Launch Jupyter**

jupyter notebook

In [10]:
library(dplyr)
library(tidyr)
library(tibble)

## nycflights13

In [16]:
# install.packages("nycflights13")

In [17]:
library(nycflights13)

### Already a Tibble!

In [18]:
class(flights)

[1] "tbl_df"     "tbl"        "data.frame"

In [19]:
is_tibble(flights)

[1] TRUE

In [26]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [42]:
tbl_sum(flights)

      A tibble
"336,776 x 19"

In [63]:
tbl_sum(filter(flights, !is.na(dep_time)))

      A tibble
"328,521 x 19"

### Ordering

In [39]:
head(
    arrange(flights, desc(dep_time)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 10    30  2400     2359            1        327       337
2 2013 11    27  2400     2359            1        515       445
3 2013 12     5  2400     2359            1        427       440
4 2013 12     9  2400     2359            1        432       440
5 2013 12     9  2400     2250           70         59      2356
6 2013 12    13  2400     2359            1        432       440
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -10       B6       839   N661JB  JFK    BQN  182      1576     23   59
2  30       B6       745   N629JB  JFK    PSE  230      1617     23   59
3 -13       B6      1503   N587JB  JFK    SJU  182      1598     23   59
4  -8       B6      1503   N705JB  JFK    SJU  195      1598     23   59
5  63       B6      1816   N187JB  JFK    SYR   41       209     22   50
6  -8       B6      1503   N587JB  JFK    SJU  192      1598     23   59
  time_hour
1 2013-10-30 23:00:00
2 2013-11-27 23:00:00
3 2013-12-05 23:00:00
4 2013-12-09 23:00:00
5 2013-12-09 22:00:00
6 2013-12-13 23:00:00

In [53]:
flights_md = arrange(flights, month, day)

In [58]:
head(flights_md)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

### Subsetting

In [59]:
head(
    filter(flights_md,
           month == 2
           & day == 3
           & origin == "JFK"
           & (dest == "MIA" | dest == "RDU")))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 2     3   536      540            -4         927      850
2 2013 2     3   758      800            -2        1138     1124
3 2013 2     3   825      810            15        1048      955
4 2013 2     3   844      715            89        1210     1045
5 2013 2     3   912      915            -3        1134     1101
6 2013 2     3   917      900            17        1235     1220
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 37        AA      1141   N5EBAA  JFK    MIA  164      1089     5    40
2 14        DL      2143   N339NW  JFK    MIA  149      1089     8     0
3 53        MQ      4406   N828MQ  JFK    RDU   74       427     8    10
4 85        AA       443   N319AA  JFK    MIA  156      1089     7    15
5 33        B6      1103   N178JB  JFK    RDU   71       427     9    15
6 15        AA       647   N5CEAA  JFK    MIA  154      1089     9     0
  time_hour
1 2013-02-03 05:00:00
2 2013-02-03 08:00:00
3 2013-02-03 08:00:00
4 2013-02-03 07:00:00
5 2013-02-03 09:00:00
6 2013-02-03 09:00:00

In [60]:
flights_md[1:5,]

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00

In [65]:
tbl_sum(filter(flights, is.na(dep_time)))

    A tibble
"8,255 x 19"

### Column operations

In [74]:
flights_md %>%
    filter(month == 1 & day == 1 & origin == "JFK" &  dest == "RDU") %>%
    pull(dep_time)

[1]  800  917 1240 1449 1743 1800 1928 2050 2209

In [75]:
head(
    pull(flights, dep_time))

[1] 517 533 542 544 554 554

In [76]:
head(flights_md %>%
    filter(month == 1 & day == 1 & origin == "JFK" &  dest == "RDU") %>%
    select(dep_time, arr_time) %>%
    rename(depart = dep_time))

  depart arr_time
1  800    949
2  917   1052
3 1240   1415
4 1449   1651
5 1743   1925
6 1800   1945

In [80]:
flights_md %>%
    filter(month == 1 & day == 1 & origin == "JFK" &  dest == "RDU") %>%
    filter(dep_time > 1500) %>%
    pull(dep_time)

[1] 1743 1800 1928 2050 2209

In [81]:
flights_md %>%
    filter(month == 1 & day == 1 & origin == "JFK" &  dest == "RDU") %>%
    slice(1:3) %>%
    pull(dep_time)

[1]  800  917 1240

In [83]:
flights_md %>%
    filter(month == 1 & day == 1 & origin == "JFK" &  dest == "RDU") %>%
    slice(2:n()) %>%
    pull(dep_time)

[1]  917 1240 1449 1743 1800 1928 2050 2209

### (group) by

In [96]:
head(
    flights_md %>%
        filter(origin == "JFK" & !is.na(air_time)) %>%
        group_by(dest) %>%
        summarise(mean = mean(air_time), sd = sd(air_time)))

  dest mean      sd
1 ABQ  249.16929 19.291371
2 ACK   42.06818  8.127495
3 ATL  112.04271  9.901613
4 AUS  213.70220 18.370247
5 BHM  117.00000        NA
6 BNA  117.07493 11.259506

In [97]:
tbl_sum(filter(flights_md, dest == "BHM" & origin == "JFK"))

A tibble
"1 x 19"

In [99]:
nbrflight <-
    flights_md %>%
        filter(origin == "JFK" & !is.na(dep_time)) %>%
        group_by(dest, month) %>%
        count()

In [100]:
head(nbrflight)

  dest month n
1 ABQ  4      9
2 ABQ  5     31
3 ABQ  6     30
4 ABQ  7     31
5 ABQ  8     31
6 ABQ  9     30

### long <<>> wide

In [107]:
tbl_sum(nbrflight)

           A tibble              Groups
          "748 x 3" "dest, month [748]"

In [108]:
unique(pull(nbrflight, dest))

 [1] "ABQ" "ACK" "ATL" "AUS" "BHM" "BNA" "BOS" "BQN" "BTV" "BUF" "BUR" "BWI"
[13] "CHS" "CLE" "CLT" "CMH" "CVG" "DCA" "DEN" "DFW" "DTW" "EGE" "FLL" "HNL"
[25] "HOU" "IAD" "IAH" "IND" "JAC" "JAX" "LAS" "LAX" "LGB" "MCI" "MCO" "MEM"
[37] "MIA" "MKE" "MSP" "MSY" "MVY" "OAK" "ORD" "ORF" "PBI" "PDX" "PHL" "PHX"
[49] "PIT" "PSE" "PSP" "PWM" "RDU" "RIC" "ROC" "RSW" "SAN" "SAT" "SDF" "SEA"
[61] "SFO" "SJC" "SJU" "SLC" "SMF" "SRQ" "STL" "STT" "SYR" "TPA"

In [109]:
wide <- spread(nbrflight, dest, n)
wide

   month ABQ ACK ATL AUS BHM BNA BOS BQN BTV ⋯ SFO SJC SJU SLC SMF SRQ STL STT
1   1    NA  NA  155 118 NA  60  478 62  123 ⋯ 670 20  411 166 20  54  NA  34
2   2    NA  NA  137 103 NA  51  417 54  101 ⋯ 574 14  368 151 14  51  NA  30
3   3    NA  NA  155 144 NA  57  482 62  116 ⋯ 661 21  426 191 21  62  NA  36
4   4     9  NA  151 120 NA  57  474 37   87 ⋯ 657 30  377 181 25  60  NA  34
5   5    31  21  155 124  1  60  488 33  116 ⋯ 694 31  350 183 26  31  NA  31
6   6    30  43  171 120 NA  57  492 59  118 ⋯ 683 30  391 181 30  30  NA  30
7   7    31  66  186 124 NA  58  511 62  124 ⋯ 687 31  463 185 31  31  NA  31
8   8    31  67  187 123 NA  59  519 62  124 ⋯ 723 31  448 185 31  31  NA  27
9   9    30  45  155 120 NA  58  473 32  119 ⋯ 699 30  336 175 23  30  NA   9
10 10    31  23  166 124 NA  59  494 31  119 ⋯ 725 31  346 177 20  31  NA   8
11 11    30  NA  151 121 NA  59  480 39   99 ⋯ 672 31  369 165 17  30   1  16
12 12    31  NA  156 118 NA  61  478 62  103 ⋯ 693 28  442 166 24  31  NA  44
   SYR TPA
1  109 214
2  101 196
3   94 246
4   88 236
5  120 235
6  114 243
7  122 272
8  125 278
9  109 241
10 107 249
11  93 268
12 112 278

In [113]:
long <- gather(wide, -month, key = "dest", value = "n")
head(long)

  month dest n
1 1     ABQ  NA
2 2     ABQ  NA
3 3     ABQ  NA
4 4     ABQ   9
5 5     ABQ  31
6 6     ABQ  30

### [...]

...

### Challenge data.table!

In [126]:
tbl1 = tibble(x = c(rep(1, 4), rep(2, 4)),
              y = c("a", "a", "b", "b", "a", "a", "b", "b"),
              z = 1:8)

In [127]:
tbl2 = tibble(x = 1:2, y = c("a", "b"), mul = 4:3)

In [128]:
tbl1

  x y z
1 1 a 1
2 1 a 2
3 1 b 3
4 1 b 4
5 2 a 5
6 2 a 6
7 2 b 7
8 2 b 8

In [129]:
tbl2

  x y mul
1 1 a 4
2 2 b 3

In [140]:
tbl1 %>%
    group_by(x, y) %>%
    summarise(sum_z = sum(z)) %>%
    inner_join(tbl2, by = c("x", "y")) %>%
    mutate(sum_mul = sum_z * mul) %>%
    select(x, y, sum_mul)

  x y sum_mul
1 1 a 12
2 2 b 45